
body{
    margin: 0;

}

/*Modal Styling*/
#current_player{
    font-size: 2em;
}

#new-game {
    float: right;
}

/*Main Board Layout*/
.screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.center {
    height: 100%;
    #width: 80vh;
    #position: relative;
    #margin: auto;
    text-align: center;
}

.center > h1{
    margin-right: 25%;
    margin-bottom: 1%;
}

/*Classes to add cursor effects*/
.x{
    cursor: url("images/X-sm.png"), auto;
}

.o{
    cursor: url("images/O-sm.png"), auto;
}
.square{
    box-sizing: border-box;
    float:left;
    border: .5vh outset grey;
    font-size: 24px;
    text-align: center;
    height: auto;
}
.X-square {
    background: transparent url("images/X.png") no-repeat center;
    background-size: 80%;
}
.O-square {
    background: transparent url("images/O.png") no-repeat center;
    background-size: 80%;
}
.square:hover {
    background-color: lightgrey;
}

.square:active {
    border: .25vh outset grey;
}

.game_board{
    width: 80vh;
    height: 80vh;
    border: 1vh outset grey;
    margin: auto;
}

.statsBar {
    text-align: center;
}
.game_heading>h1{
    height: 20%;
    border: 2px solid black;
    text-align: center;
}

.choose {
    width: 45px;
    margin: 7%;
    cursor: pointer;
}

.choose:hover {
    transform: scale(1.5);
}